page-class {
    .body{
        height: 100%;
        width: 100%;
        background: rgb(75,75,75);
        text-align: center;
        overflow-y: scroll;
        #appName{
            color:rgb(231,193,69);
            font-size: 25px;
        }
    }
    
    .head{
        position: absolute;
        height: 10%;
        width: 100vw;
        background: rgb(75,75,75);
        // padding-top: 5px;
        // border: 2px solid rgb(75,75,75);
        #menu{
            position: absolute;
            left: 50%;
            top: 25px;
            transform: translateX(-50%);
            color:rgb(231,193,69);
            font-size: 18px;
        }
        #search{
            float: right;
            margin-top: 10px;
            font-size: 18px;
        }
        #list{
            padding-top: 10px;
            font-size: 18px;

        }
    }
    .date-time{
        margin-top: 12vh;
        display: flex;
    }
    .date-time > div{
        border: 4px solid gold;
        margin: 10px auto;
        width: 49%;
        padding: 10px;
        color: rgb(216, 216, 216);
    }
    .subject{
        border: 4px solid gold;
        margin: 0px auto 15px auto;
        width: 98%;
        padding: 10px;
        color: white;
        font-weight: bolder
    }
    .theIcon{
        width: 100px;
        height: 100px;
        object-fit: cover;
        // border: 2px solid red;
        border-radius: 50px;

    }
    .person-icon{
        width: 80px;
        height: 80px;
        object-fit: cover;
        // border: 2px solid red;
        border-radius: 50px;
        background: white;

    }
    .dialing{
        width: 60px;
        height: 50px;
        object-fit: cover;
    }
    .callingPromt{
        text-align: center;
        color: white;
        font-size: 16px;
        height: 150px;
        // border: 2px solid black;
        width:75%;
        margin-top: 10px;
        margin-bottom: 10px;
        background: grey;
        padding: 0;
    }
    .user-top{
        // border:2px solid;
        text-align: right;
    }
    .user-bottom{
        // border:2px solid;
        text-align: right;
    }

    .time-duration{
        position: absolute;
        bottom: 20px;
        width: 50%;
        // height: 50px;
        border: 3px solid gold;
        color: white;
        padding: 0;
        .time{
            line-height: 18px;
            // border: 2px solid red;
            font-size: 18px;
            margin: 2px;
        }
        .remaining{
            
            line-height: 18px;
            // border: 2px solid red;
            font-size: 14px;
            margin: 2px;
        }
    }
    @media screen and (max-width: 359px){
        .date-time{
            margin-top: 8vh;
            display: flex;
        }
        .time-duration{
            position: static;
            margin-top: 5px;
            // bottom: 20px;
            width: 50%;
            // height: 50px;
            border: 3px solid gold;
            color: white;
            padding: 0;
            .time{
                line-height: 18px;
                // border: 2px solid red;
                font-size: 18px;
                margin: 2px;
            }
            .remaining{
                
                line-height: 18px;
                // border: 2px solid red;
                font-size: 14px;
                margin: 2px;
            }
        }
    }
    #equation{
        background: grey;
        padding: 0 10px 0 10px;
        border: 4px solid black;
    }
    .scroll-content {
        padding-bottom: 0 !important;
     }
}
