page-class {
    .body{
        height: 100%;
        width: 100%;
        background: rgb(75,75,75);
        text-align: center;
        overflow-y: hidden;
        #appName{
            color:rgb(231,193,69);
            font-size: 25px;
        }
    }
    
    .head{
        position: absolute;
        height: 10%;
        width: 100vw;
        transition: 300ms;
        // background: rgb(75,75,75);
        z-index: 10;
        // padding-top: 5px;
        // border: 2px solid rgb(75,75,75);
        #menu{
            position: absolute;
            left: 50%;
            top: 25px;
            transform: translateX(-50%);
            color:rgb(231,193,69);
            font-size: 18px;
        }
        #search{
            float: right;
            margin-top: 10px;
            font-size: 18px;
        }
        #list{
            padding-top: 10px;
            font-size: 18px;

        }
    }
    .date-time{
        // margin-top: 12vh;
        display: flex;
    }
    .date-time > div{
        border: 4px solid gold;
        background: rgb(75,75,75);
        margin: 10px auto;
        width: 49%;
        padding: 10px;
        color: rgb(216, 216, 216);
    }
    .subject{
        border: 4px solid gold;
        margin: 0px auto 15px auto;
        width: 98%;
        padding: 10px;
        color: white;
        font-weight: bolder
    }
    .theIcon{
        width: 100px;
        height: 100px;
        object-fit: cover;
        // border: 2px solid red;
        border-radius: 50px;

    }
    .person-icon{
        width: 80px;
        height: 80px;
        object-fit: cover;
        // border: 2px solid red;
        border-radius: 50px;
        background: white;

    }
    .dialing{
        width: 60px;
        height: 50px;
        object-fit: cover;
    }
    .callingPromt{
        position: absolute;
        left: 10px;
        top: 0;
        text-align: center;
        z-index: 10;
        color: white;
        font-size: 16px;
        height: 100%;
        transition: 100ms;
        // border: 2px solid red;
        border-radius: 10px;
        width:100vw;
        margin-top: 0px;
        // margin-bottom: 10px;
        background: rgb(98, 98, 98);
        // padding: 0;
        transform: translateX(-105%);
        margin-left: -10px;
    }
    .user-top{
        // border:2px solid;
        text-align: right;
    }
    .user-bottom{
        // border:2px solid;
        text-align: right;
    }

    .time-duration{
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 50%;
        // height: 50px;
        border: 3px solid gold;
        color: white;
        padding: 0;
        z-index: 1;
        display: block;
        .time{
            line-height: 18px;
            // border: 2px solid red;
            font-size: 18px;
            margin: 2px;
        }
        .remaining{
            
            line-height: 18px;
            // border: 2px solid red;
            font-size: 14px;
            margin: 2px;
        }
    }
    @media screen and (max-width: 359px){
        .date-time{
            // margin-top: 8vh;
            display: flex;
        }
        .time-duration{
            position: absolute;
            margin-top: 5px;
            // bottom: 20px;
            width: 50%;
            // height: 50px;
            border: 3px solid gold;
            color: white;
            padding: 0;
            .time{
                line-height: 18px;
                // border: 2px solid red;
                font-size: 2rem;
                margin: 2px;
            }
            .remaining{
                
                line-height: 18px;
                // border: 2px solid red;
                font-size: .5rem;
                margin: 2px;
            }
        }
    }
    #equation{
        background: rgb(98, 98, 98);
        padding: 0;
        // border: 4px solid green;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }
    #mini{
        border: 2px solid white;
        background: black;
        height: 20vh;
        width: 30%;
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    #remote{
        // border: 2px solid black;
        background: rgb(0, 0, 0);
        width:100%;
        height: 100%;
    }
    .options{
        position: absolute;
        width: 95%;
        transition: 500ms;
        top: 45px;
        // border: 2px solid red;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    .videoFeeds{
        width: 100%;
        height: 100%;
        // border: 2px solid grey;
        position: relative;
        z-index: 0;
    }
    #connect{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
    .closeOpen{
        width: 30px;
        height: 30px;
        border: 2px solid rgba(255, 255, 255, 0.733);
        border-radius: 50px;
        background: rgba(0, 0, 0, 0.582);
        position: absolute;
        right: -50px;
        top: 50%;
        // transform: translateY(-50%);
        transition: 300ms;
        z-index: 100;
        ion-icon{
            
            line-height: 23px;
            padding: 0;
            // border: 2px solid black;
            height: 30px
        }
    }
    .timeCanvas{
        position: absolute;
        bottom: -10px;
        right: 10px;
        z-index: 10;
    }
}
